:root{
	--key-size: 60px;
    --prim-color: #fff;
    --active: #55927b;
    --overlay-color: #925555;
}

body{
    background-color: #202124;
    color:white;
    /* overflow-y: hidden; */
}

/* Logging information */
.optionalInfo{
    /* display: none; */
}

/* Key container */
#keyboard{
    width: 90vw;
    height: 100vh;
    box-sizing: border-box;
    position: relative;


    /* Disable text selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}


#keyPool{
    width:20vw;
    height:90vh;
    position: fixed;
    top: 5vh; right: 5vh;
    background-color: #ffffff20;
    backdrop-filter: blur(5px);
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.keyOption{
    width: 3em;
    height: 1.25em;
    text-align: center;
    background-color: #ffffff10;
    font-size: 1.5em;
    margin: 0.2em;
    display: inline-block;
    border-radius: 3em;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* Keys */
.key{
    width: var(--key-size);
    height: var(--key-size);
    border: 4px solid var(--prim-color);
    background-color: #ffffff22;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc( var(--key-size) /3 );
    font-weight: bold;
    color: var(--prim-color);

    border-radius: 4px;
    position: absolute;
    transition: opacity 1s, background-color 1s, border-color 0.35s;
}

.key:hover{
    border-color: var(--prim-color) #71d970 #ea9367 var(--prim-color);
    border-style: solid dashed  dashed  solid;
    background-color: #3e3f41;
}

/* Key labels */
.label{ z-index: 0; }

/* Pressure progress on keys */
.progress{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--overlay-color);
    transition: background-color 0.25s, height 0.05s;
}